*.txt
*.zip


Old_Versions/
Log/

*.dll 
#All the .dll files are just SFML linkers, avaliable from their website

# Created by https://www.gitignore.io/api/codeblocks

### CodeBlocks ###
# specific to CodeBlocks IDE
*.cbp
*.layout
*.depend

# generated directories
bin/
obj/
